header {
  background-color: rgb(104, 104, 202);
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  padding-top: 5px;
  font-size: medium;
}
li {
  font-size: small;
  list-style: none;
  margin: 100px 0;
  display: inline;
  justify-content: space-around;
  padding-right: 10px;
}
ul li:nth-child(2) {
  font-weight: bold;
}

section {
  background-color: rgb(180, 118, 77);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

section a {
  display: flex;
  justify-content: space-around;
  zoom: 2;
  background-color: purple;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: hwb(34 40% 19%);
  font-weight: bolder;
  text-decoration: none;
}

section p {
  background-color: rgb(180, 118, 77);
}

body {
  background-color: antiquewhite;
}

form input {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
form p {
  display: flex;
  justify-content: space-around;
  text-align: right;
}

article form {
  border-bottom: 2px solid black;
}

article h2 {
  text-align: right;
  padding-bottom: 151px;
}

form div {
  display: flex;
  justify-content: space-between;
  float: ;
}

footer {
  clear: both;
  position: relative;
  height: 120px;
  margin-top: 100px;
  background-color: rgb(99, 99, 209);
}

#section2,
#section2 p {
  background-color: antiquewhite;
  display: flex;
  justify-content: left;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  background-color: antiquewhite;
}

button {
  height: 35px;
  width: 100px;
  background-color: rgb(99, 99, 209);
}
footer p {
  text-align: center;
  padding-top: 45px;
}

span {
  padding-bottom: 33px;
}

label {
  text-decoration: line-through;
}

article div:hover {
  color: orange;
}

#sugar {
  text-decoration: none;
}
